<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        body{
            margin: 0;
            background-color: darkseagreen;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        nav{
            color: aliceblue;
            display: flex;
            justify-content: flex-end;
            flex-direction: row;
            background-color: rgb(66, 66, 66);
            padding-bottom: -25px;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        #head{
            margin-right: 85%;
        }
        .container{
            padding-top: 70px;
            padding-bottom: 70px;
            margin-left: 375px;
            margin-right: 375px;
            margin-top: 10%;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            background-color: rgba(223, 223, 223, 0.397);
            border-radius: 10px;
        }
        .h1{
            color: white;
        }
        .btn{
            margin-top: 7%;
            font-size: larger;
            background-color: black;
            color: aquamarine;
            border: none;
            padding: 10px;
            border-radius: 2px;
        }
        .i1{
            font-size: 20px;
            margin-bottom: 5%;
            border-radius: 2px;
            border: none;
            padding: 10px;
        }
        .i2{
            font-size: 20px;
            margin-bottom: 5%;
            border-radius: 2px;
            border: none;
            padding: 10px;
        }
        .i3{
            display: flex;
            justify-content: space-between;
        }
        #lbl{
            padding-top: 12px;
            padding-left: 5px;
            font-size: larger;
        }
    </style>
</head>
<body>
    <nav>
        <h1 id="head">Basic Portal</h1>
    </nav>
    <div class="container">
        <form>
            <h1>Login</h1>
            <input class="i1" type="text" name="username" placeholder="Username" size="30" required>
            <div class="username error"></div>
            <input class="i1" type="password" name="password" placeholder="Password" size="30" required>
            <div class="password error"></div>
            <select class="i2" type="text" name="stream" placeholder="Stream fo Study" required>
                <option value="None">Choose Stream</option>
                <option value="CSE">Computer Science & Engineering</option>
                <option value="ECE">Electronics & Communication Engineering</option>
                <option value="XEC">Civil Engineering</option>
                <option value="ME">Mechanical Engineering</option>
                <option value="PHC">Phyics</option>
                <option value="CE">Chemical Engineering</option>
                <option value="EE">Electrical Engineering</option>
                <option value="MAC">Mathematics</option>
                <option value="MME">Metallurgical & Materials Engineering</option>
            </select>
            <div class="i3">
                <label id="lbl" for="year">Year Of Study</label>
                <select class="i2" type="number" name="year" placeholder="Year of study" required>
                    <option value="0"></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
            <button class="btn" type="submit">Submit</button>
        </form>
    </div>
    <script>
        const form = document.querySelector('form')
        form.addEventListener('submit',async (e)=>{
            e.preventDefault();
            //get values
            const username = form.username.value;
            const password = form.password.value;
            const stream = form.stream.value;
            const year = form.year.value;
            
            try {
                const res = await fetch('/login',{
                    method: 'POST',
                    body: JSON.stringify({username:username,password:password,stream:stream,year:year}),
                    headers: {'Content-Type':'application/json'}
                });
                const data = await res.json();
                console.log(data)
                if(data.errors){
                    alert(data.errors.username+data.errors.password);
                }
                if(data.user){
                    if(data.user==='60ad70b653de363a619b0e1a'){
                        location.assign('/Teacherportal')
                    }
                    else{
                        location.assign('/Studentportal')
                    }
                }
            } 
            catch (err) {
                console.log(err)
            }

        })
    </script>
</body>
</html>