<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Year MiddleWare</title>
</head>
<body>
    <form action="/midyear" method="POST">
        <div class="i3">
            <label id="lbl" for="year">Year Of Study</label>
            <select class="i2" type="number" name="year" placeholder="Year of study" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </div>
        <button class="btn" type="submit">Submit</button>
    </form>
</body>
</html>