<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body{
        margin: 0;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        background-color: darkseagreen;
    }
    nav{
        color: aliceblue;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        background-color: rgb(66, 66, 66);
        padding-bottom: -25px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    #username{
        color: aliceblue;
        margin-right: 50px;
    }
    .lobtn{
        color: aliceblue;
        font-size: large;
        background-color: rgb(66, 66, 66);
        border: none;
        margin-bottom: 10px;
        margin-right: 12px;
    }
    #lbtn{
        font-size: smaller;
        font-size: medium;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-decoration: none;
        color: aliceblue;
    }
    h1{
        margin-right: 75%;
    }
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 12%;
        background-color: rgba(229, 226, 226, 0.548);
        margin-left: 26%;
        margin-right: 24%;
        padding: 30px 0 30px 0;
        border-radius: 20px;
    }
    table{
      border-spacing: 57px 0;
    }
</style>
</head>
<body>
  <nav>
    <h1>Basic Portal</h1>
    <button class="lobtn"><a href="/logout" id="lbtn">Logout</a></button>
</nav>
  <div class="container">
    <h2>Result Page</h2>
    <table class="table table-inverse">
      <thead>
        <tr>
            <th>Candidate's Name</th>
            <th>Marks</th>
        </tr>
        <tr>
          <h4><%=subject%> </h4>
        </tr>
      </thead>
      <tbody>
        <% if(studentlist.length>0){ %> 
          <% for(var i=0; i < studentlist.length; i++) { %>
              <tr> 
                <td>
                  <h4><%= studentlist[i].n %></h4>
                </td>
                <td>
                  <h4><%= studentlist[i].cnt %></h4>
                </td>
              </tr>
          <% } %>  
      </tbody>
      <% } else { %>
        <tr>
          <h4>No results to display yet</h4>
        </tr>
      <% } %>  
    </table>
  </div>
</body>
</html>