<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
            margin: 0;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            background-color: darkseagreen;
        }
        nav{
            color: aliceblue;
            display: flex;
            justify-content: flex-end;
            flex-direction: row;
            background-color: rgb(66, 66, 66);
            padding-bottom: -25px;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        #username{
            color: aliceblue;
            margin-right: 50px;
        }
        .lobtn{
            color: aliceblue;
            font-size: large;
            background-color: rgb(66, 66, 66);
            border: none;
            margin-bottom: 10px;
            margin-right: 12px;
        }
        #lbtn{
            font-size: smaller;
            font-size: medium;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            text-decoration: none;
            color: aliceblue;
        }
        h1{
            margin-right: 75%;
        }
    .creative{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 300px;
        margin-left: 650px;
        margin-right: 650px;
        flex-direction: column;
        background-color: rgba(231, 229, 229, 0.705);
        padding-bottom: 30px;
        padding-top: 20px;

    }
    #one{
        padding: 10px;
    }
    li{
        list-style: none;
        padding: 5px;
    }
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 5px;
    }
</style>
<body>
    <nav>
        <h1>Basic Portal</h1>
        <h3 id="username">Welcome,<%=user.username %></h3>
        <button class="lobtn"><a href="/logout" id="lbtn">Logout</a></button>
    </nav>
    <div class="creative">
        <h2>Create new subject</h2>
        <form action="/subject/create" method="post">
            <div class="container">
                <li id="item"><input id="one" type="text" name="name" placeholder="Enter the name of the subject and its code" required></li>
                <li id="item"><input id="one" type="text" name="subject" placeholder="Enter the subject code" required></li>
                <li id="item"><button id="one" type="submit">Submit</button></li>
            </div>
        </form>
    </div>
</body>
</html>